
.icon-user:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e804'; } /* '' */
.icon-cart:before { content: '\e805'; } /* '' */
.icon-login:before { content: '\e806'; } /* '' */
.icon-logout:before { content: '\e807'; } /* '' */
.icon-ok:before { content: '\e808'; } /* '' */
.icon-cancel:before { content: '\e809'; } /* '' */
.icon-plus:before { content: '\e80a'; } /* '' */
.icon-down-open:before { content: '\e80b'; } /* '' */
.icon-up-open:before { content: '\e80c'; } /* '' */
.icon-book:before { content: '\e80d'; } /* '' */
.icon-right-open:before { content: '\e80e'; } /* '' */
.icon-left-open:before { content: '\e80f'; } /* '' */
.icon-download:before { content: '\e810'; } /* '' */
.icon-mail:before { content: '\e811'; } /* '' */
.icon-lock:before { content: '\e812'; } /* '' */
.icon-location:before { content: '\e813'; } /* '' */
.icon-users:before { content: '\e814'; } /* '' */
.icon-truck:before { content: '\e815'; } /* '' */
.icon-mouse:before { content: '\e816'; } /* '' */
.icon-trash-empty:before { content: '\e817'; } /* '' */
.icon-wind:before { content: '\e818'; } /* '' */
.icon-search:before { content: '\e819'; } /* '' */
.icon-credit-card:before { content: '\e81a'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-add-to-cart:before { content: '\f218'; } /* '' */